<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>951716668454-mevj3s1pu8jv1t8c9k03318dkstntjcm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.951716668454-mevj3s1pu8jv1t8c9k03318dkstntjcm</string>
	<key>API_KEY</key>
	<string>AIzaSyB312e0szmfE-VktTAS6DTNdmG-zqZZNCo</string>
	<key>GCM_SENDER_ID</key>
	<string>951716668454</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.artisanmillGroup5capstoneproject</string>
	<key>PROJECT_ID</key>
	<string>artisan-mill</string>
	<key>STORAGE_BUCKET</key>
	<string>artisan-mill.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:951716668454:ios:e8d6f2ee26d326d77132e7</string>
</dict>
</plist>